$brand-red: #c30c00;
$brand-red-dark: #bb0d00;

$background: rgb(40, 40, 48);


// HUD

$timer-background: rgba(40, 40, 40, 0.1);
$timer-colour: rgb(110, 90, 255);

$online: rgb(100, 215, 140);
$offline: rgb(255, 30, 40);

$navigation-background: linear-gradient(transparent, rgba(30, 30, 30, 0.6));
