/*
  Mobile PWA style
  ----
*/
@import 'colours';

/* Standards */
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

html,
body,
#root {
  background: $background;
  font-family: 'IBM Plex Sans', Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  position: absolute;
  width: 100%;
}

a {
  text-decoration: none;
}

/*
 *  Global
 */

/* containing posts */
.container {
  display: block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

@import 'hud';
/*
 * Post (iterable)
 */

/* Post / Article */
.post {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-width: 1pt;
  border-color: #fff;
  border-style: solid;
  border-width: 0;
  display: block;
  flex: 1;
  float: left;
  height: 100%;
  min-width: 375px;
  z-index: 1;
}

.post-container {
  background: linear-gradient(0deg, rgba(30, 0, 60, 0.7), rgba(0, 0, 0, 0));
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 100;
}

.post-content {
  bottom: 16%;
  overflow: hidden;
  padding-left: 24pt;
  padding-right: 24pt;
  position: absolute;
}

.title {
  background: rgba(0, 0, 0, 0);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  box-shadow: 6pt 0 0 rgba(0, 0, 0, 0), -6pt 0 0 rgba(0, 0, 0, 0);
  color: #fff;
  display: inline;
  font-size: 18pt;
  opacity: 0.3;
  text-decoration: none;
  text-shadow: 2px 2px 8px rgba(40, 40, 40, 0.6);
  transition: all 0.4s 0.2s;
  white-space: pre-wrap;
}

.kicker {
  background: $brand-red;
  -webkit-box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  color: #fff;

  display: inline;
  font-size: 10pt;
  font-weight: 500;
  letter-spacing: 0.1rem;
  opacity: 0.5;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s 0.2s;
  white-space: pre-wrap;
}

.description {
  color: #fff;
  font-size: 10pt;
  font-weight: normal;
  opacity: 0.2;
  padding-bottom: 3pt;
  padding-top: 3pt;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(40, 40, 40, 0.4);
  transition: all 0.5s 0.3s;
}

.author-image {
  background: rgba(50, 50, 50, 0.4);
  border-radius: 50%;
  height: 24pt;
  margin-top: 2pt;
  vertical-align: text-top;
  width: 24pt;
}

.author {
  color: #fff;
  font-weight: 500;
  line-height: 26pt;
  margin-left: 4pt;
  margin-right: 4pt;
  vertical-align: top;
}

.post-as-footer {
  background: linear-gradient($brand-red-dark, $brand-red);
  display: block;
  flex: 1;
  float: left;
  height: 256px;
  min-width: 375px;
}

.post.loading .post-content {
  bottom: 40%;
  color: #fff;
  opacity: 1;
}

.loading-message {
  color: #fff;
  opacity: 1;
}

/* Transitions */
.post.active {

}

.post.active .kicker {
  opacity: 1;
}

.post.active .title {
  opacity: 1;
}

.post.active .description {
  opacity: 1;
}


@media screen and (min-width: 640px) {
  .post-box {
    border-color: #fff;
    border-left-width: 2pt;
    border-style: solid;
    border-width: 0;
  }

  .post-box:nth-child(1) {
    border-left-width: 0;
  }
}
